.status {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: red;
    margin-right: 30px;
}

.avatar {
    width: 48px;
    border-radius: 10px;
}

.name {
    margin-left: 30px;
    font-weight: 700;
}

[data = "offLine"] {
    background-color: red;
}

[data = "onLine"] {
    background-color: green;
}