.transaction-history {
    font-size: 20px;
    width: 450px;
    text-align: center;
    border-collapse: collapse;
}

.transaction-history thead {
    font-weight: 700;
    background-color: orange;
}

.transaction-history td {
    width: 150px;
    padding: 5px;
    border: 1px solid orange;
    border-top: 0;
    border-bottom: 0;
}

.transaction-history tbody tr:nth-child(2n+1):hover {
    color: white;
    background-color: orange;
}

.transaction-history tbody tr:nth-child(2n):hover {
    color: white;
    background-color: orange;
}

.transaction-history tbody tr:last-child {
    border-bottom: 1px solid orange;
}

.transaction-history tbody tr:nth-child(2n) {
    background-color: lightgray;
}