.label {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.percentage {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: white;
}